---
import "./todo.css";
import Creds from "./Creds.astro";
import Timer from "./timer/Timer.astro";
---

<script>
	// pulley

	const contents = document.getElementById("tasks");
	const container = document.getElementById("todo");
	const pull = document.getElementById("pulley");

	if (contents) {
		contents.style.height = "0px";
	}

	container?.addEventListener("click", (e) => {
		if (contents?.style.height == "0px" && e.target == container) {
			container.style.pointerEvents = "none";
			if (pull) {
				pull.style.pointerEvents = "auto";
				pull.classList.add("trigger");
			}
			container.classList.remove("trigger");
			container.classList.add("active");

			contents.style.height = "100%";
			contents.style.maxHeight = "100vh";
			contents.style.paddingTop = "2rem";
			contents.style.paddingBottom = "1rem";

			container.style.margin = "auto";
			container.style.height = "100%";
			container.style.position = "absolute";
		}
	});

	pull?.addEventListener("click", (e) => {
		if (
			contents &&
			container &&
			contents?.style.height != "0px" &&
			e.target == pull
		) {
			container.classList.add("trigger");
			container.classList.remove("active");

			contents.style.height = "0px";
			contents.style.padding = "0px";

			container.style.height = "unset";
			container.style.position = "static";
			container.style.margin = "1em 0";
			container.style.pointerEvents = "auto";
			pull.style.pointerEvents = "none";
		}
	});

	// end of pulley
	const formToAddItemsID = document.getElementById("formToAddItemsID");
	const listOfItemsID = document.getElementById("listOfItemsID");
	const parsingLocalStorageItems =
		JSON.parse(localStorage.getItem("items")) || [];

	function listItemsFn(e: any) {
		e.preventDefault();
		const itemText = this.querySelector("[name=item]").value;
		const item = {
			itemText,
			checkedOff: false,
			deleted: false,
		};
		parsingLocalStorageItems.push(item);
		populateList(parsingLocalStorageItems, listOfItemsID);
		localStorage.setItem("items", JSON.stringify(parsingLocalStorageItems));
		this.reset();
	}

	function populateList(itemArray = [], itemList) {
		itemList.innerHTML = itemArray
			.map((item, i) => {
				return `
		  <li>
		  <label for="item${i}">${
					item.itemText
				}</label><span class="tdremove" data-index=${i} id="removed${i}" ${
					item.deleted ? true : false
				}><svg
					data-index=${i} 
					id="removed${i}" 
					${item.deleted ? true : false}
					width="17"
					height="14"
					viewBox="0 0 17 14"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
				<rect class="btn" x="0" y="0" width="17" height="17" fill="none" />
					<path
						d="M5.21126 9.58309L13.8068 0.847359C14.0739 0.57591 14.4138 0.440186 14.8266 0.440186C15.2394 0.440186 15.5793 0.57591 15.8464 0.847359C16.1135 1.11881 16.2471 1.46429 16.2471 1.8838C16.2471 2.30331 16.1135 2.64879 15.8464 2.92024L6.23107 12.6924C5.93969 12.9885 5.59976 13.1366 5.21126 13.1366C4.82276 13.1366 4.48282 12.9885 4.19144 12.6924L0.40357 8.84277C0.136476 8.57132 0.00292969 8.22584 0.00292969 7.80633C0.00292969 7.38682 0.136476 7.04134 0.40357 6.76989C0.670663 6.49844 1.0106 6.36271 1.42338 6.36271C1.83616 6.36271 2.1761 6.49844 2.44319 6.76989L5.21126 9.58309Z"
						fill="#55B7A3"></path>
				</svg>
				</span>
		  </li>
	 `;
			})
			.join("");
	}

	function checkedOffFn(e: any) {
		if (!e.target.matches("input")) return;
		const el = e.target;
		const index = el.dataset.index;
		parsingLocalStorageItems[index].checkedOff =
			!parsingLocalStorageItems[index].checkedOff;
		localStorage.setItem("items", JSON.stringify(parsingLocalStorageItems));
		populateList(parsingLocalStorageItems, listOfItemsID);
	}

	function removeItemFn(e: any) {
		const element = e.target;
		const ind = element.dataset.index;
		parsingLocalStorageItems[ind].deleted =
			!parsingLocalStorageItems[ind].deleted;
		parsingLocalStorageItems.splice([ind], 1);
		localStorage.setItem("items", JSON.stringify(parsingLocalStorageItems));
		populateList(parsingLocalStorageItems, listOfItemsID);
	}

	formToAddItemsID?.addEventListener("submit", listItemsFn);
	listOfItemsID?.addEventListener("click", checkedOffFn);
	listOfItemsID?.addEventListener("click", removeItemFn);

	populateList(parsingLocalStorageItems, listOfItemsID);
</script>

<div class="todo-wrapper">
	<div class="todo-container trigger pullable" id="todo" style="">
		<div class="pulley" id="pulley"><p></p></div>
		<div class="content" id="tasks">
			<ul id="listOfItemsID" class="items"></ul>
			<form id="formToAddItemsID" class="addItems" autocomplete="off">
				<input type="text" name="item" placeholder="Type task.." required />
				<input type="submit" value="Create" />
			</form>
			<div class="todo-btm">
				<Timer />
				<Creds />
			</div>
		</div>
	</div>
</div>
